body {
    text-align: center;
    margin: 0 auto;
}

/*
td {
    height: 80px;
    width: 80px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: top;
}

th {
    background-color: #eee
}
*/

h1 {

}

a {
    text-decoration: none;
}

/**********header***********/
#header {
    width:100%;
}





/**********calendar***********/
.calendar td {
    height: 80px;
    width: 80px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: top;
}

.calendar th {
    background-color: #eee
}

#this {
    display: inline;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
#prev {
    display: inline;
    /*float: left;*/
    margin-top: 20px;
    /*margin-left: 30px;*/
    margin-bottom: 20px;

}

#next {
    display: inline;
    /*float: right;*/
    margin-top: 20px;
    /*margin-right: 30px;*/
    margin-bottom: 20px;
}



.calendar {
    display: inline-block;
    vertical-align: top;
    /*margin: 30px;*/
    margin-bottom: 20px;
}

.day {
    font-size: 10px;
    float: left;
    vertical-align: top;
    float: top;

}

.today {
    background-color: #FFCC66;
}

.saturday {
    background-color: #E0FFFF;
}


.holiday, .sunday {
    background-color: #FFA07A;
    font-size: 14px;
}

.auc_topi {
    font-size: 6px;
}

.schedule {
    font-size: 7px;
    font-color:red;
    background-color: #FFB6C1
;
}

/**********footer***********/




/********** schedule.php ***********/
#schedule_form {
}

#form {
    text-align: center;
    margin: 0 auto;
}

#schedule_form td {
    /*height: 80px;*/
    /*width: 80px;*/
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: top;
}

#schedule_form th {
    text-align: left;
    background-color: #eee;
}

#start_day {
    display: inline-block;
}

#end_day {
    display: inline-block;

}

#schedule_title {
    display: inline;
}

#schedule_detail {
    display: inline;
}







