body {
    text-align: center;
    margin: 0 auto;
}


h1 {

}

a {
    text-decoration: none;
}

td {
    overflow: auto;
}

/**********header***********/
#header {
    width:100%;
}





/**********calendar***********/
.cell {
    overflow: auto;
}

.calendar td {
    height: 100px;
    width: 100px;
    overflow: auto;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: top;
}

.calendar th {
    background-color: #eee
}

#this {
    display: inline;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
#prev {
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;

}

#next {
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;
}



.calendar {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.day {
    font-size: 10px;
    float: left;
    vertical-align: top;
    float: top;

}

.today {
    background-color: #FFCC66;
}

.saturday {
    background-color: #E0FFFF;
}


.holiday, .sunday {
    background-color: #FFA07A;
    font-size: 14px;
}

.auc_topi {
    font-size: 6px;
}

.schedule {
    font-size: 7px;
    font-color:red;
    background-color: #FFB6C1;
}

.popup {
    display: none;
    z-index: 2;
    width:500px;
    height:500px;
    top:300px;
    left:500px;
    position: absolute;
    background-color: #FFCC66;
}

#popup_regist_form {
    background-color: white;
}
/**********footer***********/




/********** schedule.php ***********/
#schedule_form {
    text-align: center;
    margin: 0 auto;
}

#regist_form {
    z-index: 3;
    text-align: center;
    margin: 0 auto;
}

#form {
    text-align: center;
    margin: 0 auto;
}

#schedule_form td {
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: top;
}

#schedule_form th {
    text-align: left;
    background-color: #FFCC66;
}

#schedule_form .error{
    color: red;
}

#start_day {
    display: inline-block;
}

#end_day {
    display: inline-block;

}

#schedule_title {
    display: inline;
}

#schedule_detail {
    display: inline;
}

#alert_schedule_title {
    display: none;
}

#alert_schedule_detail {
    display: none;
}

.btn {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100px;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 2px;
    background-color: #FFCC66;
}

#btn-regist {
    display: inline-block;
}

#btn-delete {
    display: inline-block;
}
